form#blog_editor{
    width: 300px;
    margin: 0px;
    padding: 0px;
}

form#blog_editor label, form#blog_editor input[type="text"]{
    display: block;
}

form#blog_editor #blog_editor_buttons{
    border: none;
    text-align: right;
}

form#blog_editor textarea, form#editor input[type="text"]{
    width: 90%;
    margin-bottom: 2em;
}

form#blog_editor textarea{
    height: 10em;
}

form#comment_form{
    margin-top: 2em;
    padding-top: 0.7em;
    border-top: 1px solid grey;
}

form#comment_form label, form#comment_form input[type="submit"]{
    padding-top: 0.7em;
    display: block;
}